<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
<h1>welcome to my web application</h1>
<p>database to html form <a href="/geta">Click here</a>
<p>Normal form <a href="/register">Click here</a>
<p>all field form  <a href="/allform">Click here</a>
<p>form to database <a href="/form1">Click here</a>
<p>database <a href="/admin">Click here</a>
<p>form to databse to form <a href="/details">Click here</a>
<p>curdd operaation<a href="/curd/curd1">Click here</a>


</body>
</html>